/* Definições de estilo para o contêiner2 do nome */
.name-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

/* Estilo para o nome */
.name {
  font-size: 2rem;
  color: #446699; /* Cor do texto */
  text-shadow: 20px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra do texto */
  animation: rotateName 10s infinite linear; /* Animação de rotação */
}

/* Animação de rotação */
@keyframes rotateName {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}